.contact-line {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  color: #ddd;
  font-weight: 500;
  transition: 0.25s;
}

.contact-line:hover {
  transform: translateX(4px);
  color: white;
}

.icon {
  width: 12px !important;
  height: 12px !important;
  min-width: 12px;
  min-height: 12px;
  opacity: 0.75;
  flex-shrink: 0;
  display: inline-block;
}

.contact-line:hover .icon {
  opacity: 1;
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.25));
}
